<div th:fragment="_card" class="card my-4">
    <!--<img   th:src="@${house.foto}" class="card-img-top">-->
    <img th:if="${house.foto == null}" src="../img/casaneutra.jpg" alt="" class="card-img-top img-fluid"> 
     <img th:unless="${house.foto == null}" th:src="${'/foto/house/' + house.id}" class="card-img-top img-fluid" style="max-height: 150px;">

    <div class="card-body bg-secondary text-white ">
        <h3 class="card-title" >Price $:<span th:text="${house.price}"></span></h3>
        <p class="card-text">Tipe Place: <span th:text="${house.tipePlace}"></span></p>
        <p class="card-text">Street: <span th:text="${house.street}"></span></p>
        <p class="card-text">Number: <span th:text="${house.number}"></span></p>
        <p class="card-text">Postal Code: <span th:text="${house.postalCode}"></span></p>
        <p class="card-text">City: <span th:text="${house.city}"></span></p>
        <p class="card-text">Country: <span th:text="${house.country}"></span></p>
        <h4>Available</h4>
        <p class="card-text">Date From: <span th:text="${house.dateFrom}"></span></p>
        <p class="card-text">Date To: <span th:text="${house.dateTo}"></span></p>
       
		<a href="#" class="btn btn-outline-dark bg-warning">Comentary</a> 
		<a href="#" class="btn btn-outline-white bg-success" type"submit">  Rent  </a>      
    </div>

</div>